* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 195, 160);
    background: radial-gradient(circle, rgba(255, 195, 160, 1) 0%, rgba(31, 28, 38, 1) 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer1_rahu {
    position: absolute;
    opacity: .1;
}

.layer1_rahu > div > img {
    width: 600px;
    height: 441px;
}

.layer2_senga,
.layer3_senga2,
.layer5_color {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -240px);
    width: 600px;
    height: 441px;
}

.layer2_senga,
.layer3_senga2 {
    z-index: 1;
}

.layer2_senga div,
.layer3_senga2 div {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 0px;
    width: 0px;
    border-left: solid 2px black;
    border-color: #31001a;
    box-sizing: border-box;
    filter: blur(0.5px);
}

.layer2_senga div:nth-child(1) {
    height: 130px;
    width: 90px;
    top: 93px;
    left: 220px;
    border-radius: 50%;
    transform: rotate(15deg);
}

.layer2_senga div:nth-child(2) {
    height: 70px;
    width: 20px;
    top: 86px;
    left: 135px;
    border-radius: 50%;
    transform: rotate(-5deg);
}

.layer2_senga div:nth-child(2) {
    height: 60px;
    width: 20px;
    top: 166px;
    left: 235px;
    border-radius: 50%;
    transform: rotate(-10deg);
}

.layer2_senga div:nth-child(3) {
    height: 95px;
    width: 54px;
    top: 158px;
    left: 241px;
    border-radius: 50%;
    transform: rotate(-32deg);
}

.layer2_senga div:nth-child(4) {
    height: 20px;
    width: 10px;
    top: 232px;
    left: 280px;
    border-radius: 50%;
    transform: rotate(-40deg);
}

.layer2_senga div:nth-child(5) {
    height: 33px;
    width: 14px;
    top: 220px;
    left: 281px;
    border-radius: 50%;
    transform: rotate(-53deg);
}

.layer2_senga div:nth-child(6) {
    height: 90px;
    width: 25px;
    top: 161px;
    left: 268px;
    border-radius: 50%;
    transform: rotate(-25deg);
}

.layer2_senga div:nth-child(7) {
    height: 80px;
    width: 41px;
    top: 163px;
    left: 273px;
    border-radius: 50%;
    transform: rotate(-48deg);
}

.layer2_senga div:nth-child(8) {
    height: 120px;
    width: 37px;
    top: 126px;
    left: 289px;
    border-radius: 50%;
    transform: rotate(-20deg);
}

.layer2_senga div:nth-child(9) {
    height: 110px;
    width: 23px;
    top: 140px;
    left: 293px;
    border-radius: 50%;
    transform: rotate(190deg);
}

.layer2_senga div:nth-child(10) {
    height: 57px;
    width: 23px;
    top: 205px;
    left: 293px;
    border-radius: 50%;
    transform: rotate(235deg);
}

.layer2_senga div:nth-child(11) {
    height: 58px;
    width: 13px;
    top: 200px;
    left: 314px;
    border-radius: 50%;
    transform: rotate(201deg);
}

.layer2_senga div:nth-child(12) {
    height: 68px;
    width: 17px;
    top: 203px;
    left: 314px;
    border-radius: 50%;
    transform: rotate(221deg);
}

.layer2_senga div:nth-child(13) {
    height: 83px;
    width: 37px;
    top: 191px;
    left: 314px;
    border-radius: 50%;
    transform: rotate(236deg);
}

.layer2_senga div:nth-child(14) {
    height: 143px;
    width: 47px;
    top: 134px;
    left: 326px;
    border-radius: 50%;
    transform: rotate(188deg);
}

.layer2_senga div:nth-child(15) {
    height: 183px;
    width: 100px;
    top: 104px;
    left: 286px;
    border-radius: 50%;
    transform: rotate(198deg);
}

.layer2_senga div:nth-child(16) {
    height: 160px;
    width: 87px;
    top: 30px;
    left: 290px;
    border-radius: 50%;
    transform: rotate(85deg);
}

.layer2_senga div:nth-child(17) {
    height: 200px;
    width: 80px;
    top: 20px;
    left: 370px;
    border-radius: 50%;
    transform: rotate(-119deg);
    transform-origin: bottom;
    border-width: 4px;
    animation: move8 3s infinite alternate;
}

.layer2_senga div:nth-child(18) {
    height: 100px;
    width: 40px;
    top: 193px;
    left: 341px;
    border-radius: 50%;
    transform: rotate(-99deg);
    transform-origin: bottom;
    border-width: 2px;
    animation: move9 3s infinite alternate;
}
}

.layer2_senga div:nth-child(19) {
    height: 300px;
    width: 95px;
    top: 349px;
    left: 241px;
    border-radius: 50%;
    transform: rotate(62deg);
    transform-origin: top;
    border-width: 3px;
    animation: move3 3.2s ease infinite alternate;
}

.layer2_senga div:nth-child(20) {
    height: 160px;
    width: 65px;
    top: 230px;
    left: 333px;
    border-radius: 50%;
    transform: rotate(-127deg);
    border-width: 3px;
}

.layer2_senga div:nth-child(21) {
    height: 130px;
    width: 45px;
    top: 243px;
    left: 348px;
    border-radius: 50%;
    transform: rotate(-140deg);
    border-width: 2px;
}

.layer2_senga div:nth-child(21) {
    height: 130px;
    width: 45px;
    top: 243px;
    left: 348px;
    border-radius: 50%;
    transform: rotate(-140deg);
    border-width: 2px;
}

.layer2_senga div:nth-child(22) {
    height: 200px;
    width: 65px;
    top: 85px;
    left: 373px;
    border-radius: 50%;
    transform: rotate(-112deg);
    border-width: 3px;
    transform-origin: bottom;
    animation: move7 5s infinite alternate;
}

.layer2_senga div:nth-child(23) {
    height: 200px;
    width: 80px;
    top: 365px;
    left: 259px;
    border-radius: 50%;
    transform: rotate(44deg);
    transform-origin: top;
    border-width: 3px;
    animation: move4 5s ease infinite alternate;
}

.layer2_senga div:nth-child(24) {
    height: 120px;
    width: 80px;
    top: 365px;
    left: 243px;
    border-radius: 50%;
    transform: rotate(14deg);
    transform-origin: top;
    border-width: 3px;
    animation: move5 5s infinite alternate;
}

.layer2_senga div:nth-child(25) {
    height: 80px;
    width: 30px;
    top: 245px;
    left: 251px;
    border-radius: 50%;
    transform: rotate(34deg);
    transform-origin: top;
    animation: move6 4s infinite alternate;
}

.layer2_senga div:nth-child(26) {
    height: 80px;
    width: 30px;
    top: 258px;
    left: 255px;
    border-radius: 50%;
    transform: rotate(28deg);
    transform-origin: top;
    animation: move6 4s infinite alternate;
}

.layer2_senga div:nth-child(27) {
    height: 280px;
    width: 100px;
    top: 298px;
    left: 225px;
    border-radius: 50%;
    transform-origin: top;
    transform: rotate(74deg);
    border-width: 3px;
    animation: move1 4s ease infinite alternate;
}

.layer2_senga div:nth-child(28) {
    height: 260px;
    width: 100px;
    top: 258px;
    left: 215px;
    border-radius: 50%;
    transform-origin: top;
    transform: rotate(38deg);
    border-width: 3px;
    animation: move2 5.5s ease infinite alternate;
}

.layer2_senga div:nth-child(29) {
    height: 180px;
    width: 97px;
    top: 130px;
    left: 300px;
    border-radius: 50%;
    transform: rotate(-162deg);
    border-width: 3px;
}

.layer2_senga div:nth-child(30) {
    height: 130px;
    width: 45px;
    top: 185px;
    left: 330px;
    border-radius: 50%;
    transform: rotate(-155deg);
    border-width: 2px;
}

.layer2_senga div:nth-child(31) {
    height: 210px;
    width: 145px;
    top: 65px;
    left: 330px;
    border-radius: 50%;
    transform: rotate(-205deg);
    border-width: 3px;
}

.layer2_senga div:nth-child(32) {
    height: 210px;
    width: 145px;
    top: 115px;
    left: 330px;
    border-radius: 50%;
    transform: rotate(-155deg);
    border-width: 3px;
}

.layer2_senga div:nth-child(33) {
    height: 310px;
    width: 145px;
    top: -45px;
    left: 300px;
    border-radius: 50%;
    transform: rotate(-95deg);
    transform-origin: bottom;
    border-width: 3px;
    animation: move10 4s infinite alternate;
}

.layer3_senga2 div:nth-child(1) {
    height: 30px;
    width: 15px;
    top: 238px;
    left: 257px;
    border-radius: 50%;
    transform: rotate(-195deg);
    border-width: 1px;
}

.layer3_senga2 div:nth-child(2) {
    height: 25px;
    width: 14px;
    top: 255px;
    left: 274px;
    border-radius: 50%;
    transform: rotate(-48deg);
    border-width: 1px;
}

.layer3_senga2 div:nth-child(3) {
    height: 15px;
    width: 6px;
    top: 272px;
    left: 289px;
    border-radius: 50%;
    transform: rotate(-61deg);
    border-width: 1px;
}

.layer3_senga2 div:nth-child(4) {
    height: 70px;
    width: 26px;
    top: 242px;
    left: 307px;
    border-radius: 50%;
    transform: rotate(-85deg);
    border-width: 1px;
}

.layer3_senga2 div:nth-child(5) {
    height: 33px;
    width: 5px;
    top: 220px;
    left: 301px;
    border-radius: 50%;
    transform: rotate(67deg);
    border-width: 5px;
}

.layer3_senga2 div:nth-child(6) {
    height: 43px;
    width: 17px;
    top: 219px;
    left: 299px;
    border-radius: 50%;
    transform: rotate(67deg);
    border-width: 2px;
}

.layer3_senga2 div:nth-child(7) {
    height: 143px;
    width: 17px;
    top: 359px;
    left: 383px;
    border-radius: 50%;
    transform: rotate(16deg);
}

.layer3_senga2 div:nth-child(8) {
    height: 143px;
    width: 32px;
    top: 339px;
    left: 413px;
    border-radius: 50%;
    transform: rotate(206deg);
}

.layer3_senga2 div:nth-child(9) {
    height: 83px;
    width: 52px;
    top: 309px;
    left: 403px;
    border-radius: 50%;
    transform: rotate(140deg);
}

.layer3_senga2 div:nth-child(10) {
    height: 73px;
    width: 42px;
    top: 373px;
    left: 283px;
    border-radius: 50%;
    transform: rotate(0deg);
}

.layer3_senga2 div:nth-child(11) {
    height: 53px;
    width: 12px;
    top: 433px;
    left: 283px;
    border-radius: 50%;
    transform: rotate(180deg);
}

.layer4_flower {
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% + 140px);
    z-index: 1;
}

ul {
    position: absolute;
    top: 0;
    left: calc(50% - 22px);
    ;
    list-style: none;
    line-height: 0;
    filter: blur(0.5px);
}

ul:nth-of-type(1) li {
    width: 22px;
    height: 100px;
    position: absolute;
    transform-origin: center;

}

ul:nth-of-type(1) li span {
    width: 100%;
    height: 50%;
    display: inline-block;
    background-color: #ffd700;
    border-radius: 50% 50%;
    border: solid 0.5px black;
    opacity: .6;
}

ul:nth-of-type(1) li:nth-of-type(1) {
    transform: rotate(30deg);
}

ul:nth-of-type(1) li:nth-of-type(2) {
    transform: rotate(60deg);
}

ul:nth-of-type(1) li:nth-of-type(3) {
    transform: rotate(90deg);
}

ul:nth-of-type(1) li:nth-of-type(4) {
    transform: rotate(120deg);
}

ul:nth-of-type(1) li:nth-of-type(5) {
    transform: rotate(150deg);
}

ul:nth-of-type(1) li:nth-of-type(6) {
    transform: rotate(180deg);
}


ul:nth-of-type(2) li {
    width: 22px;
    height: 100px;
    position: absolute;
    transform-origin: center;
}

ul:nth-of-type(2) li span {
    width: 100%;
    height: 50%;
    display: inline-block;
    background-color: #ffff00bb;
    border-radius: 50% 50%;
    border: solid 0.5px black;
    opacity: .6;
}

ul:nth-of-type(2) li:nth-of-type(1) {
    transform: rotate(45deg);
}

ul:nth-of-type(2) li:nth-of-type(2) {
    transform: rotate(75deg);
}

ul:nth-of-type(2) li:nth-of-type(3) {
    transform: rotate(105deg);
}

ul:nth-of-type(2) li:nth-of-type(4) {
    transform: rotate(135deg);
}

ul:nth-of-type(2) li:nth-of-type(5) {
    transform: rotate(165deg);
}

ul:nth-of-type(2) li:nth-of-type(6) {
    transform: rotate(195deg);
}


ul:nth-of-type(3) {
    position: absolute;
    top: 50%;
    left: 50%;
}

ul:nth-of-type(3) li {
    width: 30px;
    height: 30px;
    position: absolute;
    top: calc(50% + 35px);
    left: calc(50% - 27px);
    background-color: #444;
    border-radius: 50% 50%;
    opacity: 8;
}

.layer5_color div {
    filter: blur(3px);
}

.layer5_color div:nth-child(1) {
    position: absolute;
    top: 80px;
    left: 230px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background: #F7DDC3;
    opacity: .3;
}

.layer5_color div:nth-child(2) {
    position: absolute;
    top: 100px;
    left: 230px;
    width: 60px;
    height: 130px;
    border-radius: 50%;
    background: #AADDAA;
    opacity: .3;
    animation: move11 2s 1.3s infinite alternate;
}

.layer5_color div:nth-child(2) {
    position: absolute;
    top: 62px;
    left: 240px;
    width: 60px;
    height: 130px;
    border-radius: 50%;
    background: #AADDAA;
    opacity: .3;
    transform: rotate(40deg);
    mix-blend-mode: overlay;
    animation: move11 4.2s .4s infinite alternate;
}

.layer5_color div:nth-child(3) {
    position: absolute;
    top: 70px;
    left: 240px;
    width: 40px;
    height: 100px;
    border-radius: 50%;
    background: #99DDFF;
    transform: rotate(40deg);
    mix-blend-mode: overlay;
    opacity: .3;
    animation: move11 3s 1s infinite alternate;
}

.layer5_color div:nth-child(4) {
    position: absolute;
    top: 60px;
    left: 230px;
    width: 160px;
    height: 200px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(40deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 2.2s .2s infinite alternate;
}

.layer5_color div:nth-child(5) {
    position: absolute;
    top: 60px;
    left: 310px;
    width: 160px;
    height: 200px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(130deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 1.3s .6s infinite alternate;
}

.layer5_color div:nth-child(6) {
    position: absolute;
    top: 70px;
    left: 280px;
    width: 120px;
    height: 160px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(0deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 2s .5s infinite alternate;
}

.layer5_color div:nth-child(7) {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 120px;
    height: 190px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(-20deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 1.4s .8s infinite alternate;
}

.layer5_color div:nth-child(8) {
    position: absolute;
    top: 70px;
    left: 250px;
    width: 220px;
    height: 90px;
    border-radius: 50%;
    background: #99DDFF;
    transform: rotate(0deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 1s .1s infinite alternate;
}

.layer5_color div:nth-child(9) {
    position: absolute;
    top: 210px;
    left: 290px;
    width: 220px;
    height: 90px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(130deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 2s .6s infinite alternate;
}

.layer5_color div:nth-child(10) {
    position: absolute;
    top: 300px;
    left: 80px;
    width: 420px;
    height: 60px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(150deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 2.8s 1s infinite alternate;
}

.layer5_color div:nth-child(11) {
    position: absolute;
    top: 230px;
    left: 120px;
    width: 150px;
    height: 260px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(50deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 4s .3s infinite alternate;
}

.layer5_color div:nth-child(12) {
    position: absolute;
    top: 230px;
    left: 100px;
    width: 150px;
    height: 260px;
    border-radius: 50%;
    background: #FFDDAA;
    transform: rotate(90deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 1.5s ease 1s infinite alternate;
}

.layer5_color div:nth-child(13) {
    position: absolute;
    top: 270px;
    left: 50px;
    width: 100px;
    height: 140px;
    border-radius: 50%;
    background: #99DDFF;
    transform: rotate(70deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 1s ease .5s infinite alternate;
}

.layer5_color div:nth-child(14) {
    position: absolute;
    top: 245px;
    left: 60px;
    width: 120px;
    height: 190px;
    border-radius: 50%;
    background: #AADDAA;
    transform: rotate(70deg);
    opacity: .4;
    mix-blend-mode: overlay;
    animation: move11 3s ease infinite alternate;
}
